extends layout

block content
  center   
    h1.project-title= title
    hr
    div.form-container
      form(method="POST" , action="api/shorturl/new").url_form
          input(type="url", placeholder="your url here...", name='url', id='url', oninvalid="this.setCustomValidity('Incorrect URL')", required).form-input
          button.form-button Shorten