extends layout

block content
  center
    h1= title
    p URL Shortener Microservice
    hr
      form(method="POST" , action="api/shorturl/new").url_form
          label.form_label http(s)://
          input(type="text", placeholder="your url here...", name='url', required).form-control
          button.btn Add 